main-text-div {
    padding: 30px 40px;
    background-color: white;
    color: #222;
    width: 100%;
}

.main-text-div p {
    line-height: 1.5rem;
    padding-right: 30px;
    margin: 0;
}

.inner-text-div {
    height: 70%;
}